.editbodyprofile{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
	url('image/b1.jpg');
    background-size: cover;
    color: white;
    height: 650px;
}

.editbodyprofile img{
    width: 100px;    
}
.editbodyprofile h1{
    margin-left: 2%;
    color:white;
}

.editbodyprofile h3{
    position: absolute;
    left:30%;
    top:0%;
    color: white;
}

.upload{
    position: absolute;
    left: 10%;
    color: white;
}

.information{
    position: absolute;
    left: 40%;
    width: 50%;
    color: white;
}

.information input[type=text], input[type=email],input[type=password], input[type=tel]{
    width: 100%;
    border:1px solid gray;
    border-bottom: 1px solid rgb(179, 171, 171);
    background:#0a0a0a;
    height: 15px;
    outline: none;
    color:white;
    background-color: transparent;
    padding:10px;
    margin: 10px 0px;
    border-radius: 5px;
}

.information input[type="button"]{
    background-color:#a31c1c;
    color: white;
    border-radius: 10px;
    height: 40px;
    width: 150px;
}

.information input[type="reset"]{
    background-color: white;
    color:black;
    border-radius: 10px;
    height: 40px;
    width: 100px;
}
